body {
margin: 2%;
font-family: 'Josefin Sans', sans-serif;
}

div.mainContainer {
  display: flex;
  padding: 15%;
  padding-top: 20%;
  background-image: url(https://cdn.pixabay.com/photo/2022/03/22/14/01/leaves-7085092_1280.jpg);
  background-size: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

div.color {
  margin: 2%;
  height: 1%;
  width: auto;
  background-color: rgb(49, 49, 49);
}

div.containerTwo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 2%;
  gap: 1%;
}

section.one {
  display: flex;
  grid-column: 1/2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 4px solid rgb(49, 49, 49);
  padding: 2%;
}

section.two {
  display: flex;
  grid-column: 2/3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 4px solid rgb(49, 49, 49);
  padding: 2%;
}

section.three {
  display: flex;
  grid-column: 3/4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

@media (max-width: 576px) {
  
  div.containerTwo {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  section.one {
    border: 2px solid rgb(54, 105, 54);
    border-radius: 5px;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 2%;
    text-align: center;
  }

  section.two {
    border: 2px solid rgb(54, 105, 54);
    border-radius: 5px;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 2%;
    text-align: center;
  }

  section.three {
    border: 2px solid rgb(54, 105, 54);
    border-radius: 5px;
    grid-row:3/4;
    grid-column: 2/3;
    padding: 2%;
    text-align: center;
  }
}